nav {
  position: fixed;
  padding: 2rem;
  width: 30%;
  max-width: 400px;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: var(--z-header);
  display: flex;
  background-color: var(--dark);
  color: var(--white);
  transform: translateX(100%);
}

.menuIsActive nav {
  transform: translateX(0%);
}

.menuIsActive nav li {
  margin: 0.7rem 0;
}

.menuIsActive nav li:hover {
  cursor: pointer;
  color: var(--active);
}
